.app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}


.app::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/Stone.webp");
  background-size: 15vw;
  background-position: center;
  filter: blur(1vw);
  transform: scale(1.1); 
  z-index: -2;
}


.app::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(2, 2, 3, 0.8),   
    rgba(2, 2, 3, 0.85),   
    rgb(2, 4, 9)   
  );
  z-index: -1;
}

