.education {
    display: flex;
    flex-direction: column;
    padding: 2vw;

}


.education ul {
    margin: 0.6vw 28vw;
    padding: 0 1vw;
    list-style: none;
    font-size: 0.7vw;
}

@media (max-width: 768px) and (orientation: portrait) {
    .education {
        padding: 2vw;
        text-align: center;

    }
    .education h2 {
        font-size: 8vw;
    }

    .education ul {
        margin: 0vw 10vw;
        padding: 1vw;
        font-size: 2.4vw;
    }
}