.experience {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    font-size: 1vw;
    color: #f8f9fa;
   
}

.experience h2 {
    margin: 0vw 29vw;
    font-size: 2vw;
    text-indent: 1vw;
}

.exp-cards {
    padding: 1vw;
    list-style: disc;

    padding-top: 1vw;
    display: flex;
    flex-direction: row;
}

.exp-container {
    margin: 1vw 29vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #f8f9fa;
    border-radius: 2em;

    background: #c1d6eb10; 
    backdrop-filter: blur(5px);
    
    box-shadow: inset 0 0 2vw #0000005b;
}

.exp-logo {
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-logo img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.exp-details {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp-details h3,
.exp-details h6 {
  margin: 0;
  margin-top: 0.4vw;
  width: fit-content;
}

.exp-details ul{
    margin-top: 0;
    font-size: 0.7vw;
}
.exp-details li {
    margin-top: 0.5vw;
}

@media (max-width: 768px) {
    .experience {
        padding: 4vw;
        align-items: center;
    
    }
    .exp-cards{
        flex-direction: column;
        align-items: center;
    }

    .exp-details{
        align-items: center;
    }

    .experience h2 {
        width: fit-content;
        font-size: 8vw;
    }
    .exp-container {
        width: 54%;
        padding: 1vw 2vw;
        flex-direction: column;
    }

    .exp-logo {
        width: 10vw;
        height: 10vw;
        margin: 1vw 1vw;
       
    }   

    .exp-details h3,
    .exp-details h6 {
    margin: 0;
    margin-top: 0.4vw;
    width: fit-content;
    font-size: 1.7vw;
    }

    .exp-details li {
        font-size: 2vw;
        text-align: center;
        list-style: none;
        margin-top: 2vw;
    }

    .exp-details ul {
        margin-top: 1vw;
        margin-left: 0;
        
    }
}