.experience {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    font-size: 1vw;
    color: #bcb8b1;
    background-color: #8a817c;
}

.exp-cards {
    margin: 1vw 20vw;
    list-style: disc;
    border: 5px solid #bcb8b1;
    border-radius: 2em;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
}

.exp-logo {
    margin: 1.1vw 0vw 1vw 2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-logo img {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}

.exp-details {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp-details h3,
.exp-details h6 {
  margin: 0;
  margin-top: 0.4vw;
}