.site-footer {
    margin-top: 1vw;
    padding: 1vw 27vw;
    padding-bottom: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9vw;
    color: rgba(255, 255, 255, 0.733);   
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

}

.site-footer p{
    width:fit-content;
    margin: 0;
    margin-bottom: 1vw;
}

.footer-icon {
    margin-top: 0.5rem;
    display: flex;
    gap: 2vw;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.733);
}

.static-resume {
    display:none;
    position: fixed;
    bottom:10%;
    left: 75%;
}

.static-rbutton {
    display:none;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 2.7;
    stroke-linecap: round;
    stroke-linejoin: round;
    background-color: #f7f7f7d2;
    backdrop-filter: blur(10vw);

}
    

.static-logo {
    display:none;
    padding: 3.5vw;
    width: 7vw;
    height: 7vw;
    margin-top: 0.3vw;
    color: #343a40;
}



.static-rbutton:hover {
    transform:scale(1.3) rotate(10deg);
}
.static-logo:hover {
    transform:scale(1.3) rotate(-20deg);
}

@media (max-width: 768px) {
    .site-footer {
        padding: 4vw 18vw;
        padding-bottom: 20vw;
        flex-direction: column;
        
    }

    .site-footer p {
        font-size: 3vw;
    }
    .footer-icon a{
        width:fit-content;
        height: fit-content;
    }
    .resume {
        display: none;
    }
    .footer-icon {
        gap: 10vw;
    }
    .static-resume, .static-logo, .static-rbutton {
        display: flex;
    }
    
}