.hero {
    min-height: 100vh;
    padding: 0%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: left;

    padding-left: 10%;

}

.hero h1 {
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: -0.2lh;
    font-family: Impact;
}

.subtitle {
    color: #c5c5c5;
    text-indent: 6%;
    margin-bottom: -0.7lh;
    font-size: 1.5vw;
}

.school {
    color: #919191;
    text-indent: 6%;
    font-size: 1.5vw;
}

.cred-buttons {
    color: black;
    margin-left: 1%;
    display: flex;
    gap: 12px;


}
.cred-buttons a {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}
.cred-button {
    color: #47440d;
    display: flex;
    gap: 6px;
    background-color: #f3e036;
}

.cred-button:hover {
    background-color: #fdf8c9;
}

.cred-icon {
    display: flex;
    align-items: center;
}

.cred-icon:hover .icon {
    color: #000000;
}

.icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #ffffff;
}
