
.hero {
    padding: 0 15vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;

}

.fancy-text {
     display: inline-block;
}

.char {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: default;
}

.char:nth-child(odd):hover {
  transform: rotate(10deg) scale(1.1);
}
.char:nth-child(even):hover {
  transform: rotate(-10deg) scale(1.1);
}

.hero-main h1 {
    color: #f8f9fa;
    font-size: 6vw;
    width: 6em;
    margin-top: 0;
    margin-bottom: -0.2lh;
    font-family: Impact;
}

.subtitle {
    color: #dee2e6;
    width: 36em;
    text-indent: 14%;
    margin-bottom: -0.7lh;
    font-size: 1vw;
}

.school {
    color: #adb5bd;
    width: 36em;
    text-indent: 14%;
    font-size: 1vw;
}



.cred-buttons {
    color: black;
    margin-left: 1vw;
    display: flex;
    gap: 0.2vw;
    width: fit-content;
}
.cred-buttons a {
    padding: 0.6vw ;
    display: flex;
    align-items: center;
    border-radius: 2vw;
    text-decoration: none;
}

.cred-button {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: -0.1em;
    justify-content: center;
    gap: 0.5vw;
    background-color: #e9ecef;
    font-size: 1vw;
    text-justify: center;
    transition: transform 0.2s ease;
}

.down-icon {
    width: 1vw;
    height: 1vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 2.7;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #495057;
}


.resumetxt {
    position: relative;
    top: -0.08rem;
    font-weight: bold;
    color:#495057;
    
}

.cred-button:hover {
    background-color: #adb5bd;
    transform: rotate(5deg) scale(1.1);
}


/* FOOT UP MY ASS */
.icon {
    width: 2vw;
    height: 2vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #e9ecef;
    transition: transform 0.2s ease;
}

.icon:hover {
    color: #adb5bd;
    transform: rotate(10deg);
}

.img-container {
    

    width: 20vw;
    height: 30vw;
    margin: 5vw;
    border-radius: 1.6vw;
    overflow: hidden;
    flex-shrink: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.1s ease;
    display: none;
}

.img-container:hover {
    transform:rotate(-3deg)
}

.img-container img {
    
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.scroll-indicator {
    position: absolute;
    flex: none;
    left: 50vw;
    transform: translateY(40vh);
    animation: bounce 1.5s infinite;
    cursor: pointer;
    z-index: 10;
}

.scroll-icon {
    width: 3vw;
    height: 3vw;
    padding: vw;
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.85;
    transition: transform 0.3s ease-in, opacity 0.3s ease cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.scroll-indicator:hover .scroll-icon {
  opacity: 1;
  transform: scale(1.5);
}


@keyframes bounce {
  0% {
    transform: translate(-50%, 38vh);
  }

  40% {
    transform: translate(-50%, 40vh);
  }

  100% {
    transform: translate(-50%, 38vh);
  }
}


@media (max-width: 768px) {
    .hero {

        justify-content: center;
        flex-direction: column;
        text-align: center;
 
        
    }

    .hero-main {
        align-items: center;
        flex:0;
        
    }

    .hero-main h1 {
        font-size: 15vw;
       
    }

    .subtitle, .school {
        width: 100%;
        text-indent: 0;
        font-size: 2.5vw;
    }

    .resumetxt {
        top: -0.1rem;
    }

    .cred-buttons {
        justify-content: center;

        gap: 4vw;
    }
    .down-icon{
        width: 3vw;
        height: 3vw;
    }
    .cred-button {
        font-size: 3vw;
        gap: 1vw;
    }

    .icon {
        width: 5vw;
        height: 5vw;
    }
    

    .img-container {
        order: -1; 
        width: 40vw;
        height: 60vw;
        margin-bottom: 4vh;
        border-radius: 1em;
    }

   .scroll-indicator {
    display: none;
   }
}
