.hero {
    height:50vw;
    aspect-ratio: 16 / 9;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: left;

    padding-left: 10%;

}

.hero h1 {
    color: #f8f9fa;
    font-size: 9vw;
    width: 6em;
    margin-top: 0;
    margin-bottom: -0.2lh;
    font-family: Impact;
    text-shadow: #111214;
}

.subtitle {
    color: #e9ecef;
    width: 36em;
    text-indent: 14%;
    margin-bottom: -0.7lh;
    font-size: 1.5vw;
}

.school {
    color: #ced4da;
    width: 36em;
    text-indent: 14%;
    font-size: 1.5vw;
}

.cred-buttons {
    color: black;
    margin-left: 1vw;
    display: flex;
    gap: 0.1vw;
    width: fit-content;
}
.cred-buttons a {
    padding: 0.6vw ;
    display: flex;
    align-items: center;
    border-radius: 2vw;
    text-decoration: none;
    color: #ffffff;
}
.cred-button {
    position: relative;
    color: #343a40;
    display: flex;
    align-items: center;
    padding-top: -0.1em;
    justify-content: center;
    gap: 0.5vw;
    background-color: #adb5bd;
    font-size: 1vw;
    text-justify: center;
}

.resumetxt {
    position: relative;
    top: -0.1em;
    font-weight: bold;
}

.cred-button:hover {
    background-color: #f8f9fa;
    box-shadow: #111214 10px 10px 0px 1px;

}

.cred-icon {
    display: flex;
    align-items: center;
}

.cred-icon:hover .icon {
    color: #6c757d;
    
}

.down-icon {
    width: 1vw;
    height: 1vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 2.7;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #343a40;
}

.icon {
    width: 2vw;
    height: 2vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #e9ecef;
}
