.hero {
    padding: 0 10vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f4f3ee;
    align-items: center;

}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-main h1 {
    color: #463f3a;
    font-size: 9vw;
    width: 6em;
    margin-top: 0;
    margin-bottom: -0.2lh;
    font-family: Impact;
}

.subtitle {
    color: #8a817c;
    width: 36em;
    text-indent: 14%;
    margin-bottom: -0.7lh;
    font-size: 1.5vw;
}

.school {
    color: #bcb8b1;
    width: 36em;
    text-indent: 14%;
    font-size: 1.5vw;
}



.cred-buttons {
    color: black;
    margin-left: 1vw;
    display: flex;
    gap: 0.2vw;
    width: fit-content;
}
.cred-buttons a {
    padding: 0.6vw ;
    display: flex;
    align-items: center;
    border-radius: 2vw;
    text-decoration: none;
    color: #e0afa0;
}

.cred-button {
    position: relative;
    color: #343a40;
    display: flex;
    align-items: center;
    padding-top: -0.1em;
    justify-content: center;
    gap: 0.5vw;
    background-color: #e0afa0;
    font-size: 1vw;
    text-justify: center;
}

.down-icon {
    width: 1vw;
    height: 1vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 2.7;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #f4f3ee;
}


.resumetxt {
    position: relative;
    top: -0.09em;
    font-weight: bold;
    color:#f4f3ee;
}

.cred-button:hover {
    background-color: #f7cbbd;
}



.icon {
    width: 2vw;
    height: 2vw;
    fill: none;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #e0afa0;
}

.icon:hover {
    color: #f7cbbd;
    
}

.img-container {
    width: 22.5vw;
    height: 30vw;
    margin: 5vw;
    border-radius: 2em;
    overflow: hidden;
    flex-shrink: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .hero {
        height: 90vh;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 10vw 0;
    }

    .hero-main h1 {
        font-size: 15vw;
    }

    .hero-main {
        align-items: center;
        
    }

    .subtitle, .school {
        width: 100%;
        text-indent: 0;
        font-size: 2.5vw;
    }

    .resumetxt {
        top: -0.02em;
    }

    .cred-buttons {
        justify-content: center;

        gap: 4vw;
    }
    .down-icon{
        width: 3vw;
        height: 3vw;
    }
    .cred-button {
        font-size: 3vw;
        gap: 1vw;
    }

    .icon {
        width: 5vw;
        height: 5vw;
    }
    

    .img-container {
        order: -1; 
        width: 45vw;
        height: 60vw;
        margin-bottom: 4vh;
        border-radius: 1em;
    }

   
}
