.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2vw;

  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4vw;
  box-sizing: border-box;

  /* border-bottom: 1px solid #ffffffb7; */

  background: #06070852;
  backdrop-filter: blur(12px);
  text-decoration: none;
}

.logo {
  font-size: 1vw;
  font-weight: 300;
  font-family: Impact;

}

.nav-links {

  padding: 1vw;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.2vw;

}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 0.6vw;
}

.resume-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.3vw 0.8vw;
  padding-top: -0.1em;
  justify-content: center;
  gap: 0.vw;
  background-color: #e9ecef;
  font-size: 0.4vw;
  text-justify: center;
  transition: transform 0.6s ease;
}

.resume-button:hover {
  background-color: #adb5bd;
  transform: rotate(-363deg) scale(1.1);
}

.resume-logo {
  width: 0.7vw;
  height: 0.7vw;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: #495057;
}

.nav-links a:hover {
  color: #adb5bd;
}



@media (max-width: 768px)  and (orientation: portrait) {

  .navbar {
    /* height: 2rem; */

    display: none;

  }

  /* .ResumeLogo{
      display: none;
  }

  .resume-button {
    font-size: 1vw;
    display: none;
  }

  .logo {
    font-size: 1rem;
  }

  .nav-links a {
    font-size: 0.7rem;
  } */
}