.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.4vw;

  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4vw;
  box-sizing: border-box;

  /* border-bottom: 1px solid #ffffffb7; */

  background: #06070852;
  backdrop-filter: blur(12px);

}

.logo {
  font-size: 1.5vw;
  font-weight: 600;
}

.nav-links {
  padding: 1vw;
  display: flex;
  list-style: none;
  gap: 2.5vw;

  align-items: center;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

.resume-button {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: -0.1em;
  justify-content: center;
  gap: 0.5vw;
  background-color: #e9ecef;
  font-size: 1vw;
  text-justify: center;
}

.resume-logo {
  width: 1vw;
  height: 1vw;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: #495057;
}

.nav-links a:hover {
  color: #adb5bd;
}



@media (max-width: 768px)  and (orientation: portrait) {

  .navbar {
    /* height: 2rem; */

    display: none;

  }

  /* .ResumeLogo{
      display: none;
  }

  .resume-button {
    font-size: 1vw;
    display: none;
  }

  .logo {
    font-size: 1rem;
  }

  .nav-links a {
    font-size: 0.7rem;
  } */
}