.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5vw;


  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4vw;
  box-sizing: border-box;

  background: #e0afa0a4;
  backdrop-filter: blur(12px);

}

.logo {
  font-size: 1.5vw;
  font-weight: 600;
}

.nav-links {
  padding: 1vw;
  display: flex;

  list-style: none;

  gap: 2.5vw;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 1vw;
  align-items: right;
}

.nav-links a:hover {
  color: #f3e036;
}

@media (max-width: 900px) {

  .navbar {
    height: 2rem;

  }

  .logo {
    font-size: 1rem;
  }

  .nav-links a {
    font-size: 0.5rem;
  }
}