.projects {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    font-size: 1vw;
    color: #f8f9fa;
    
}


.proj-container {
    margin: 0vw 29vw;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(14vw, 1fr));
}


.proj-cards {
    width: 15vw;
    margin: 1vw;
    padding: 1vw;
   
    padding-top: 1vw;
    display: flex;
    flex-direction: column;

    border: 0.02vw solid #b1beca10;
    border-radius: 2em;

    background: #14161810; 
    backdrop-filter: blur(3px);
    z-index: 1;
    
}

.proj-img {
    width: 15vw;
    height: 9vw;
    border-radius: 1.5em;
    overflow: hidden;
    flex-shrink: 0;
    background: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.proj-img img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    
}

.proj-tech {
    gap: 0.5vw;
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.proj-tech p {
    margin: 0;
    padding: 0.4vw 0.5vw;
    backdrop-filter: blur(5px);
    background-color: #f8f9fa2f;
    border-radius: 1em;
    font-size: 0.47vw;
    
}

.proj-details {
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-details h3,
.proj-details h6 {
  margin: 0;
  margin-top: 0.4vw;
  width: fit-content;
}
.desc {
    font-size: 0.7vw;
}
.proj-details h3{
    font-size: 1vw;
}
.proj-details h6 {
    margin-top: 1vw;
    font-size: 0.6vw;
}

.proj-button p {
    margin: 0;
}

.proj-buttons {
    gap: 0.5vw;
    margin: 0 1vw 1vw 0.5vw;
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.proj-button {
    margin: 0;
    padding: 0.5vw 0.6vw;
    backdrop-filter: blur(5px);
    color:#6c757d;
    background-color: #fdfdfd;
    border-radius: 0.9em;
    font-size: 0.5vw;
    font-weight: 700;
}


@media (max-width: 768px) and (orientation: portrait) {
    .projects {
        padding: 4vw;
        align-items: center;
    
    }
    .projects h2 {
        width: fit-content;
        font-size: 8vw;
        
    }

    .proj-container {
        margin: 0vw 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5vw;
    }

    .proj-cards {
        width: 60%;
        padding: 2vw;
        flex-direction: column;

    }

    .proj-cards p{
        font-size: 2.4vw;
    };

   .proj-tech {
        gap: 1vw;
        margin-top: 10vw;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .proj-tech p {
        padding: 1vw 1.5vw;
        border-radius: 1em;
        font-size: 2.4vw;
    }

    .proj-img {
        width: 100%;
        height: 28vw;
        border-radius: 2em;
    }

 
    .proj-img img {
        object-fit:contain;
    }

    .proj-details h3{
        font-size: 3vw;
    }

    .proj-details h6 {
      margin-top: 1vw;
      font-size: 2vw;
    }

    .proj-buttons{
        gap: 2vw;
    }

    .proj-button {
        padding: 1vw 2.5vw;
        border-radius: 3em;
    }
}