.tech-stack {
    margin: 0vw 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
}

.tech-card {
    border: 2px solid #f4f3ee;
    border-radius: 2em;
    padding: 0.5vw 1vw;
    text-align: center;
    background-color: #f4f3ee;
    color: #000000;
}

.tech-stack h2 {
    text-align: center;
    width: 10em;
    font-size: 1.5vw;
}


.tech-card p {
    margin: 0;
    border: 1px solid #f4f3ee;
    border-radius: 1em;
    font-size: 1vw;
    
}

.tech-container {
    display: flex;

    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
    gap: 2vw;
}