.tech-stack {
    margin: 0vw 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
    
}

.tech-stack h2 {
    text-align: center;
    width: 18em;
    margin: 0vw 23vw;
    font-size: 1.5vw;
    text-indent: 1vw;
}

.tech-container {
    display: flex;

    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
    gap: 1.4vw;
}


.tech-card {
    border: 2px solid #f4f3ee;
    border-radius: 2em;
    padding: 0.3vw 0.6vw;
    text-align: center;
    background-color: #f4f3ee;
    color: #000000;
}

.tech-card p {
    margin: 0;
    border: 1px solid #f4f3ee;
    border-radius: 1em;
    font-size: 0.8vw;
    
}

.tech-card:hover {
     transform:rotate(-5deg)
}







@media (max-width: 768px) {
    .tech-stack {
    margin: 0vw 16vw;
    }
    .tech-stack h2 {
        font-size: 8vw;
    }

    .tech-card p{
        font-size: 3.2vw;
    }
} 