.tech-stack {
    margin: 0vw 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
    
}

.tech-stack h2 {
    text-align: center;
    width: 18em;
    margin: 0vw 23vw;
    font-size: 1.5vw;
    text-indent: 1vw;
}

.tech-container {
    display: flex;

    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
    gap: 1vw;
}


.tech-card {

    border-radius: 2em;
    padding: 0.4vw 0.8vw;
    text-align: center;
    background-color: #ced4da28;
    backdrop-filter: blur(10px);
    color: #f4f3ee;
}

.tech-card p {
    margin: 0;

    border-radius: 1em;
    font-size: 0.8vw;
    
}

.tech-card:hover {
     transform:rotate(-5deg)
}







@media (max-width: 768px) and (orientation: portrait) {
    .tech-stack {
    margin: 0vw 16vw;
    }
    .tech-stack h2 {
        font-size: 8vw;
    }
    .tech-container{
        gap: 3vw;
    }
    .tech-card {
        padding: 0.8vw 2vw;
        

    }

    .tech-card p{
        font-size: 3.2vw;
    }
} 