.pixel-snow-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  contain: layout style paint;
  z-index: 0;
}

.pixel-snow-container canvas {
  display: block;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  
}
